.sidebar-mini{
    display: none !important;
}

.sidebar-normal{
    margin-left: 45px !important;
}

.card .card-header.card-header-icon {
    float: none;
    width: 100%;
    margin-left: 0px;
}

.card [data-background-color] {
    box-shadow: none;
    padding: 10px !important;

}

.card-header{
    background:#e5e4e2;
    color: #808080;
    padding-bottom: 15px !important;
    margin-bottom: 5px;
}

.form-group label.control-label {
    font-size: 12px !important;
    line-height: 1.07143;
    color: #AAAAAA;
    font-weight: 400;
    margin: 16px 0 0 0;
}

.float-right-side {
    float: right;
    margin-top: -7px;
}


/**  */
/*******************************
* ACCORDION WITH TOGGLE ICONS
* Does not work properly if "in" is added after "collapse".
*******************************/
.panel-group .panel {
    border-radius: 0;
    box-shadow: none;
    border-color: #EEEEEE;
}

.panel-default > .panel-heading {
    padding: 0;
    border-radius: 0;
    color: #212121;
    background-color: #FAFAFA;
    border-color: #EEEEEE;
}

.panel-title {
    font-size: 14px;
}

.panel-title > a {
    display: block;
    padding: 15px;
    text-decoration: none;
}

.more-less {
    float: right;
    color: #212121;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #EEEEEE;
}

/* ----- v CAN BE DELETED v ----- */


.demo {
    padding-top: 60px;
    padding-bottom: 110px;
}

.demo-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 15px;
    background-color: #212121;
    text-align: center;
}

.demo-footer > a {
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    color: #fff;
}


.panel-heading a[aria-expanded="true"] {
     color: #696969 !important;
}

.panel-title a:hover {
    color: #696969 !important;
}


.label-style{
    color: #696969 !important;
    font-size: 12px !important;
    font-weight: bold !important;
}




/******  ************/
.uppy-Dashboard-inner {
    position: relative;
    background-color: #fafafa;
    max-width: 80%;
    max-height: 10% !important;
    min-height: 50px !important;
    outline: none;
    border: 1px solid #eaeaea;
    border-radius: 5px;
}


element.style {
}
.checkbox-inline, .radio-inline {
    position: relative;
    display: inline-block;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: 400;
     vertical-align: baseline !important;
    cursor: pointer;
}

nav-tabs {
    background: #ffffff !important;
    color: #696969 !important;
    border: 0;
    border-radius: 3px;
    padding: 0 15px;
}

.img-style{
    height: 70px !important;
    width: 90px !important;
}


 .required-error{
     color: #f44336;
     font-weight: bolder;
     font-size: 13px;
 }


.card [data-background-color] {
    box-shadow: none !important;
    margin: 0 !important;
    border-radius: 3px;
    padding: 15px;
    background-color: #999999;
    position: relative;
}

.seo .form-control,.seo .form-group .form-control {
    border: 1px solid #D3D3D3;
    background-image: none !important;
    background-size: 0 2px, 100% 1px;
    background-repeat: no-repeat;
    background-position: center bottom, center calc(100% - 1px);
    /* background-color: transparent; */
    /* transition: background 0s ease-out; */
    /* float: none; */
    box-shadow: none;
    border-radius: 1px;
    font-weight: 400;
    padding: 5px !important;
}

/** changes 29-Jan **/

.error-message{
    color: darkred;
    font-weight: bold;
    font-size: 12px;
}

.title__card{
    font-weight: 500;
    color: #1b1e23 !important;
    font-size: 16px;
}

.card-stats a{
    color: #8e8e8e !important;
    font-weight: bold;
}

.card-stats a:hover{
    color: #dc3545 !important;
}
.news_img{
    width: 100px !important;
    height: 100px !important;
}

.parsley{
    color: darkred !important;
    font-size: 14px;
    font-weight: 500;
}










