@import '../custom';
body{
	background-color: $white;
	font-size: 18px;
	color:$dark;
	font-weight: 600;
}
.form-control[readonly] {
	background-color: transparent;
}


// main menu
header{	
	z-index: 999;
	background-color: #fff;
	color: $para;
	overflow: hidden;
	font-size: 15px;
	font-weight: 600;
	@include responsivesm{
		font-size: 14px;
	}
	.section-rule{
		padding: 20px 0;
		@include responsive(1280px){
			padding: 15px 0;
		}
	}
	.nav{
		align-items: center;
		justify-content: space-between;
	}
	
	.nav__right{
		align-items: center;
		@include responsivemd{
			width: 100%;
		}
		@include responsivesm{
			justify-content: space-between;
		}
		.nav-list{
			&:nth-child(4), &:nth-child(5){
				@include responsivemd{
					display: none;
				}
			}
			&:nth-child(6){
				@include responsivemd{
					margin-left: auto;
				}
				@include responsivesm{
					margin-left: 0;
				}
			}
			&:last-child{
				@include responsivemd{
					margin-right: 0;
				}
			}
			&:nth-child(2), &:first-child{
				@include responsivesm{
					display: none;
				}
			}
		}
	}
	.nav-list{
		margin-right: 1.6em;
		@include responsivelg{
			margin-right: 1em;
		}
		&:nth-last-child(2){
			margin-right: 1em;
		}
		span{
			font-size: 20px;
			vertical-align: middle;
			padding-right: 4px;

		}
	}
	.btn{
		@include button;
		padding: 16px 24px;
		font-size: 15px;
		@include border-radius;
		&.login{
			background-color: transparent;
			color:$para;
			border:2px solid $para;
			&:hover{
				background-color: $red;
				border-color: $red;
				color: #fff;
			}
		}
	}
	.logo{
		img{
			height: 2.6rem;
		}
	}

	.nav__left{
		@include responsivemd{
			width: 100%;
			justify-content: space-between;
		}
	}
	#google_translate_element{
		padding: 0 6px;
		span{
			display: none;
		}
	}
	.goog-te-gadget-simple{
		border: 0;
		background-color: transparent;
	}
	.goog-te-gadget-icon {
		display: none;
	}
	.goog-te-menu-value{ 
		img{
			// display: none;
		}
		span {
			text-decoration: none;
			margin: 0;
			font-size: 14px;
			color: $para;
			font-weight: normal;
		}
		span:not(:first-child){
			// display: none;
		}
	}
}

header.active{
	position:sticky;
	top:0;
	transition:.3s linear ;
	z-index: 99;
	height: 57px;
}


.secondary-nav{
	background-color: $dark;
	color:$white;
	font-size: 14px;
	position: sticky;
	top: 0;
	z-index: 99;
	@include responsivemd{
		position: fixed;
		width: 280px;
		z-index: 99;
		left: -310px;
		top: 0;
		height: 100vh;
		color: #fff;
		box-shadow: 3px 3px 12px rgba(101, 99, 99, 0.2);
		z-index: 999;
		color: $dark;
		background-color:$white;
		@include transition-in;
		overflow-y: scroll;

	}
	&.active{
		@include responsivemd{
			left:0px !important;
		}
	}
	.section-rule{
		padding: 0;
	}
	.nav-list{
		&:first-child{
			.nav-item{
				padding-left: 0;
			}
		}
	}
	.nav-item{
		padding: 1.3em 1em;
		font-size: 15px;
		@include responsivemd{
			padding-left: 0;
		}
		&.active{
			color: $primary-color;
			border-bottom: 4px solid  $primary-color;
		}
	}

	.nav{
		@include responsivemd{
			flex-direction: column;
			padding: 2em;
		}
		@include responsivesm{
			padding: 1em 2em;	
		}
	}

	.hamburger{
		position: absolute;
		right: 1em;
		top: 0;
	}
	

}

.hamburger {
	align-items: center;
	@include transition-out;
	.nav-item span{
		font-size: 30px;
	}
	margin-right: 0 !important;
	margin-bottom: 1em;
	&.active{
		visibility: hidden;
	}
}



